<div class="page-header">
  <h1><%= cookbook.name %></h1>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href='#tab-basic' data-toggle='tab'>Basic</a></li>
<% metadata.keys.each do |key| -%>
<%   unless ( metadata[key] == {} or key == 'attributes' or description.include? key ) -%>
  <li><a href='#tab-<%= key %>' data-toggle='tab'><%= key.capitalize %></a></li>
<%   end -%>
<% end -%>
  <li><a href='#tab-metadata' data-toggle='tab'>Metadata</a></li>
  <li><a href='#tab-files' data-toggle='tab'>Files</a></li>
</ul>

<div class='tab-content'>
  <div class='tab-pane active' id='tab-basic'>
    <ul class='list-unstyled'>
<% description.each do |desc| -%>
<%   unless metadata[desc] == {} -%>
  <li><%==  pretty_metadata(desc, metadata[desc]) %></li>
<%   end -%>
<% end -%>
    </ul>
  </div>
<% metadata.each do |key, value| -%>
<%   unless ( metadata[key] == {} or description.include? key ) -%>
<%     if key == "recipes" -%>
  <div class='tab-pane fade in' id='tab-<%= key %>'>
    <ul class="list-unstyled">
<%       cookbook.recipes.zip(metadata.recipes) do |c_recipe, m_recipe| -%>
      <li><a href='<%= url "/cookbook/#{cookbook.name}/#{c_recipe.name}" %>'><%= c_recipe.name %></a><%= m_recipe.last != "" ? ": #{m_recipe.last}" : "" %></li>
<%       end -%>
    </ul>
  </div>
<%     else -%>
  <div class='tab-pane fade in' id='tab-<%= key %>'>
    <%== pretty_metadata(key, value) %>
  </div>
<%     end -%>
<%   end -%>
<% end -%>
  <div class='tab-pane fade in' id='tab-metadata'>
    <pre><%= JSON.pretty_generate(metadata) %></pre>
  </div>
  <div class='tab-pane fade in' id='tab-files'>
<% file_types.each do |file_type| -%>
<%   unless cookbook.send(file_type) == [] -%>
    <h2><%= file_type.capitalize %></h2>
    <ul class='list-unstyled'>
<%     cookbook.send(file_type).each do |file| -%>
    <li><a href='<%= url file.url %>'><%= file.name %></a></li>
<%     end -%>
    </ul>
<%   end -%>
<% end -%>
  </div>
</div>
