<p></p>
<div class='tab-content'>
  <div class='tab-pane active' id='tab-basic'>
    <dl class='dl-horizontal'>
      <div class='col-md-9'>
<%== pretty_metadata('long_description', metadata['long_description']) %>
      </div>
      <div class='col-md-3' id='basic'>
        <small>
          <dl class='dl-horizontal'>
<% basic.each do |b| -%>
<%   unless metadata[b].empty? -%>
<%==   pretty_metadata(b, metadata[b]) unless b == "long_description" %>
<%   end -%>
<% end -%>
          </dl>
        </small>
      </div>
    </dl>
  </div>

<% metadata.each do |key, value| -%>
<%   unless (metadata[key].empty? or basic.include? key) -%>
<%     if key == "recipes" -%>
  <div class='tab-pane fade in' id='tab-<%= key %>'>
    <ul class="list-unstyled">
<%       cookbook.recipes.sort_by { |k| k["name"].downcase }.each do |recipe| -%>
      <li>
        <a href='<%= url "/cookbook/#{cookbook.name}/recipe/#{recipe.name}" %>'><%= recipe.name %></a>
<%         metadata.recipes.each  do |r, d| -%>
<%           unless r.empty? -%>
<%=            recipe.name.gsub('.rb', '') == r.gsub("#{cookbook.chef_id}::", "") && !d.empty? ? "- #{d}" : "" %>
<%=            recipe.name == "default.rb" && r == cookbook.chef_id && !d.empty? ? "- #{d}" : "" %>
<%           end -%>
<%         end -%>
      </li>
<%       end -%>
    </ul>
  </div>
<%     end -%>
<%   end -%>
<% end -%>

  <div class='tab-pane fade in' id='tab-files'>
<% file_types.each do |file_type| -%>
<%   unless cookbook.send(file_type).empty? -%>
<%     unless file_type == 'root_files' %>
    <h2><%= file_type.capitalize %></h2>
<%     end %>
    <ul class='list-unstyled'>
<%     cookbook.send(file_type).sort_by { |k| k["name"].downcase }.each do |file| -%>
      <li><a href='<%= url "/cookbook/#{cookbook.name}/#{file_type}/#{file.name}" %>'><%= file_type == 'root_files' ? file.name : "#{file.specificity}/#{file.name}" %></a></li>
<%     end -%>
    </ul>
<%   end -%>
<% end -%>
  </div>

  <div class='tab-pane fade in' id='tab-metadata'>
    <div class="tab-content">
      <table class="table table-condensed table-striped table-hover">
<% with_jsonpath(metadata) do |path, value| -%>
        <tr><td><%= path %></td><td><%== pretty_value(value) %></td></tr>
<% end -%>
      </table>
    </div>
  </div>

</div>
