<div class="span10">
  <h3>Data bags</h3>

  <ul class="nav nav-pills">
<% bags.all.each do |bag| -%>
    <li><a href="#<%= bag[:name] %>" data-toggle="tab"><%= bag[:name] %></a></li>
<% end -%>
  </ul>

  <div class="tab-content">
<% bags.all.each do |bag| -%>
    <div class="tab-pane" id="<%= bag[:name] %>">
      <h3>Data bag items</h3>
      <ul class="unstyled">
<%   bags.find(bag[:name]).item.all.each do |item| -%>
        <li><a href="/data_bag/<%= bag[:name] %>/<%= item[:id] %>"><%= item[:id] %></a></li>
<%   end -%>
      </ul>
    </div>
<% end -%>
  </div>
</div>
