<div class="page-header">
  <h1><%= data_bag_item.data_bag.chef_id %>::<%= data_bag_item.chef_id %></h1>
</div>

<% if encrypted?(data_bag_item) && decrypted == false -%>
<div class="alert alert-info">This bag is encrypted. Paste or upload the key to view the item's details.</div>
<% if alert -%>
<div class="alert alert-danger">Wrong key.</div>
<% end -%>
<form role="form" method="post" action='<%= url "data_bag/#{data_bag_item.data_bag.chef_id}/#{data_bag_item.chef_id}"%>' enctype="multipart/form-data">
  <div class="form-group">
    <input type="password" class="form-control" id="key" name="key" placeholder="Paste key here">
  </div>
  <div class="form-group">
    <input type="file" id="upload" name="upload">
  </div>
  <div class="btn-group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
<% else -%>
<%   if decrypted -%>
<div class="alert alert-info">You are viewing decrypted data.</div>
<%   end -%>
<div class="filterable">
  <table class="table table-condensed table-striped table-hover">
<% with_jsonpath(data_bag_item._attributes_) do |path, value| -%>
    <tr><td><%= path %></td><td><%== pretty_value(value) %></td></tr>
<% end -%>
  </table>
</div>
<% end -%>
