<div class="page-header">
<a class="btn btn-default btn-bg pull-right" href='<%= url "/nodes?q=chef_environment:#{environment.name}" %>'>Nodes</a>
  <h1><%= environment.name %></h1>
<% if environment.description && !environment.description.empty? -%>
  <p><%= environment.description %></p>
<% end -%>
</div>

<% if environment.cookbook_versions.length > 0 -%>
<h2>Cookbook Versions</h2>
<dl class="dl-horizontal">
<%   environment.cookbook_versions.each do |cookbook, version| -%>
  <dt><%= cookbook %></dt>
  <dd><%= version %></dd>
<%   end -%>
</dl>
<% end -%>

<% unless tabs.empty? -%>
<h2>Attributes</h2>
<div class="tabbable">
  <ul class="nav nav-tabs">
<%   tabs.keys.each_with_index do |tab_name, tab_index| -%>
    <li<%== ' class="active"' if tab_index.zero? %>><a href="#attributes-<%= tab_name %>" data-toggle="tab"><%= tab_name.capitalize %></a></li>
<%   end -%>
  </ul>
  <div class="tab-content">
<%   tabs.each_with_index do |(tab_name, tab_data), tab_index| -%>
    <div class="tab-pane <%= tab_index.zero? ? 'active' : 'fade in'  %>" id="attributes-<%= tab_name %>">
      <table class="table table-condensed table-striped table-hover">
<%     with_jsonpath(tab_data) do |path, value| -%>
        <tr><td><%= path %></td><td><%== pretty_value(value) %></td></tr>
<%     end -%>
      </table>
    </div>
<%   end -%>
  </div>
</div>
<% end -%>
