<h1>
<% if file_type == 'recipes' -%>
<%= cookbook_name %>::<%= file.name.gsub('.rb', '') %>
<% else -%>
<%= file_type == ('root_files' || 'attributes') ? file.name : "#{file.specificity}/#{file.name}" %>
<% end -%>
  <a role='button' class='btn btn-link' href='<%= url "/download#{request.path}" %>' title='Download file'><span class='glyphicon glyphicon-download'></span></a>
</h1>
<%== (ChefBrowser::FileContent.show_file(file, extname, content) || "<p class='lead'>The content of this file cannot be displayed. <a href='#{url "/download#{request.path}"}'>Download to your computer</a> to view it locally.</p>") %>
