<a role="button" class="btn btn-default" href='<%= url "/cookbook/#{cookbook_name}-#{cookbook_version}" %>'>« Back to <%= "#{cookbook_name}-#{cookbook_version}" %></a>

<% if file_type == 'recipes' -%>
<h1><%= cookbook_name %>::<%= file.name.gsub('.rb', '') %></h1>
<% else -%>
<h1><%= file_type == ('root_files' or 'attributes') ? file.name : "#{file.specificity}/#{file.name}" %></h1>
<% end -%>
<% if extname == '.md' -%>
<%== GitHub::Markup.render("README.md", content) %>
<% else -%>
<%== ( ChefBrowser::FileContent.show_file(file, extname, content) || "<p class='lead'>The content of this file cannot be displayed</p>" ) %>
<%== ChefBrowser::FileContent.download_file(file.url) %>
<p></p>
<% end -%>
