<a role="button" class="btn btn-default" href='<%= url "/cookbook/#{cookbook_name}-#{cookbook_version}" %>'>« Back to <%= "#{cookbook_name}-#{cookbook_version}" %></a>

<% if file_type == 'recipes' -%>
<h1><%= cookbook_name %>::<%= file.name.gsub('.rb', '') %></h1>
<% else -%>
<h1><%= file_type == ('root_files' or 'attributes') ? file.name : "#{file.specificity}/#{file.name}" %></h1>
<% end -%>
<%== ( ChefBrowser::FileContent.show_file(file, extname, content) || "<p class='lead'>The content of this file cannot be displayed</p>" ) %>
<a role='button' class='btn btn-default btn-primary' href="<%= url file.url %>">Download file</a>
<p></p>
