<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chef browser >> <%= resource_name.capitalize %>s<%== search_query == nil ? '' : " >> #{search_query}" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/chef-browser.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid" style="padding: 0 15px;">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="/">Chef browser</a>
            <ul class="nav">
<% nav = ['node', 'data bag', 'environment', 'role']-%>
<% nav.each do |element| -%>
              <li<%== element == resource_name ? ' class="active"' : '' %>><a href="/<%= element.gsub(' ', '_') %>s"><%=  element.capitalize %>s</a></li>
<% end -%>
<% if settings.rb.node_search.length > 0 -%>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Saved searches<b class="caret"></b></a>
                <ul class="dropdown-menu">
<%   settings.rb.node_search.each do |link_name, query| -%>
                  <li><a href='/nodes?q=<%= query %>'><%= link_name %></a></li>
<%   end -%>
                </ul>
              </li>
<% end -%>
              <form class="navbar-search pull-right" type="text" method="get" action="/<%= resource_name.gsub(' ', '_') %>s">
                <input type="text" class="input-block-level search-query" id="appendedInputButton" name="q" placeholder=<%== search_query == nil ? '"search"' : search_query %>>
                <div class="icon-search"></div>
              </form>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row-fluid">
        <%== yield %>
      </div>
    </div>
    <script src="/js/jquery-2.0.3.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.filtertable.js"></script>
    <script>
    $('table').filterTable({label: "", placeholder: "filter attributes", inputClass: "search-query"});
    </script>
  </body>
</html>
