<% def pp(vv, prefix='') -%>
<%   case vv %>
<%   when Array -%>
<%     vv.each_with_index do |i, v| -%>
<%       pp(v, "#{prefix}[#{i}]") %>
<%     end -%>
<%   when Hash -%>
<%     vv.each do |k, v| -%>
<%       pp(v, "#{prefix}.#{k}") %>
<%     end -%>
<%   else -%>
<%=    "#{prefix} = #{vv}" %>
<%   end -%>
<% end -%>

<h3><%= chef_server.node.find(node_name)[:name] %></h3>
<p><%= chef_server.node.find(node_name)[:automatic][:fqdn] %> (<%= chef_server.node.find(node_name)[:automatic][:ipaddress] %>)</p>
<p>Environment: <%= chef_server.node.find(node_name)[:chef_environment] %></p>
<p>Tags:<ul class="inline"><% chef_server.node.find(node_name)[:normal][:tags].each do |tag| %>
<li><%= tag %></li>
<% end -%>
</ul></p>
<h4>Run list:</h4>
<p><ul><% chef_server.node.find(node_name)[:run_list].each do |run_list| %>
<li><%= run_list %></li>
<% end -%>
</ul></p>
<h4>Attributes (JSON)</h4>
<pre class="pre-scrollable"><% pp(chef_server.node.find(node_name)._attributes_.to_hash) %></pre>
