<h3><%= node.name %></h3>

<p><%= node[:automatic][:fqdn] %> (<%= node[:automatic][:ipaddress] %>)</p>

<p><strong>Environment:</strong> <%= node.chef_environment %></p>

<p><strong>Tags:</strong>
  <ul class="inline">
<% (attributes[:tags] || []).each do |tag| -%>
    <li><%= tag %></li>
<% end -%>
  </ul>
</p>

<p><strong>Run list:</strong>
  <ul class="inline">
<% node[:run_list].each do |run_list_item| -%>
    <li><%= run_list_item %></li>
<% end -%>
  </ul>
</p>

<h4>Attributes (JSON)</h4>
<table class="table table-condensed table-striped table-hover">
<% with_jsonpath(node._attributes_) do |path, value| -%>
  <tr><td><%= path %></td><td><%== pretty_value(value) %></td></tr>
<% end -%>
</table>
