<h3><%= node.name %></h3>

<p><%= node[:automatic][:fqdn] %> (<%= node[:automatic][:ipaddress] %>)</p>

<p><strong>Environment:</strong> <%= node.chef_environment %></p>

<p><strong>Tags:</strong>
  <ul class="inline">
<% (attributes[:tags] || []).each do |tag| %>
    <li><%= tag %></li>
<% end -%>
  </ul>
</p>

<p><strong>Run list:</strong>
  <ul class="inline">
<% node[:run_list].each do |run_list_item| %>
    <li><%= run_list_item %></li>
<% end -%>
  </ul>
</p>

<h4>Attributes (JSON)</h4>
<pre class="pre-scrollable"><%= JSON.pretty_generate(node._attributes_, :indent => "  ", :array_nl => "\n") %></pre>
