<ul class="breadcrumb">
  <li><a href="/nodes">Nodes</a> <span class="divider">|</span></li>
  <li class="active"><i class="icon-search"></i> <%= search_query %></li>
</ul>

<% if search_results.blank? -%>
<h1>No matching results found</h1>
<% else -%>
<%   if search_results.length == 1 -%>
<h1><%= search_results.length %> node found</h1>
<%   else -%>
<h1><%= search_results.length %> nodes found</h1>
<%   end -%>
<ul class="unstyled">
  <% search_results.each do |node| -%>
  <li><a href="/node/<%= node[:name] %>"><%= node[:name] %></a></li>
<% end %>
</ul>
<% end -%>
