<h3><%= node.name %></h3>

<p><%= node[:automatic][:fqdn] %> (<%= node[:automatic][:ipaddress] %>)</p>

<p><strong>Environment:</strong> <%= node.chef_environment %></p>

<p><strong>Tags:</strong>
  <ul class="inline">
<% (attributes[:tags] || []).each do |tag| -%>
    <li><%= tag %></li>
<% end -%>
  </ul>
</p>

<p><strong>Run list:</strong>
  <ul class="inline">
<% node[:run_list].each do |run_list_item| -%>
    <li><%= run_list_item %></li>
<% end -%>
  </ul>
</p>

<ul class="nav nav-pills">
  <li><a href="#jsonpath" data-toggle="tab">Attributes (JSONpath)</a></li>
  <li><a href="#jsonraw" data-toggle="tab">Attributes (raw JSON)</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="jsonpath"><h4>Attributes (JSONpath)</h4>
    <table class="table table-condensed">
<% with_jsonpath(node._attributes_) do |path, value| -%>
<%   if value.to_json == "true" -%>
      <tr><td><%= path %></td><td><span class="label label-success"><%= value.to_json %></code></span></td></tr>
<%   elsif value.to_json == "false" -%>
      <tr><td><%= path %></td><td><span class="label label-important"><%= value.to_json %></span></td></tr>
<%   elsif value.to_json == "null" -%>
      <tr><td><%= path %></td><td><code>Ø</code></td></tr>
<%   elsif value.to_json.length >= 150 -%>
      <tr><td><%= path %></td><td><pre><%= value.to_json.gsub("\\n", "\n") %></pre></td></tr>
<%   else -%>
      <tr><td><%= path %></td><td><code><%= value.to_json %>
<%   end -%>
<% end -%>
    </table>
  </div>
  <div class="tab-pane fade in" id="jsonraw"><h4>Attributes (raw JSON)</h4>
    <pre><%= node._attributes_ %></pre>
  </div>
</div>
