<ul class="breadcrumb">
  <li><a href="/nodes">Nodes</a> <span class="divider">|</span></li>
  <li class="active"><%= node.name %></a> </li>
</ul>

<h1><%= node.name %></h1>

<p><%= node[:automatic][:fqdn] %> (<%= node[:automatic][:ipaddress] %>)</p>

<p><strong>Environment:</strong> <%= node.chef_environment %></p>

<p><strong>Tags:</strong>
  <ul class="inline">
<% (attributes[:tags] || []).each do |tag| -%>
    <li><%= tag %></li>
<% end -%>
  </ul>
</p>

<p><strong>Run list:</strong>
  <ul class="inline">
<% node[:run_list].each do |run_list_item| -%>
    <li><%= run_list_item %></li>
<% end -%>
  </ul>
</p>

<h2>Attributes</h2>

<div class="tabbable">
  <ul class="nav nav-tabs">
<% tabs.keys.each do |tab_name| -%>
    <li<%== tab_name == active_tab ? ' class="active"' : '' %>><a href="#attributes-<%= tab_name %>" data-toggle="tab"><%= tab_name.capitalize %></a></li>
<% end -%>
  </ul>
  
  <div class="tab-content">
<% tabs.each do |tab_name, tab_data| -%>
    <div class="tab-pane <%= tab_name == active_tab ? 'active' : 'fade in'  %>" id="attributes-<%= tab_name %>">
      <table class="table table-condensed table-striped table-hover">
<%   if tab_data.empty? -%>
       <div class="alert alert-info">This node has no <em><%= tab_name %></em> attributes.</div>
<%   else -%>
<%     with_jsonpath(tab_data) do |path, value| -%>
      <tr><td><%= path %></td><td><%== pretty_value(value) %></td></tr>
<%     end -%>
<%   end -%>
      </table>
    </div>
<% end -%>
</div>
