        <div class="span10"><h3>Node details</h3>
          <% my_server = Ridley.new(server_url: "http://127.0.0.1:4000", client_name: "marta", client_key: "/home/marta/.chef/marta.pem") %>
          <% @nodes = my_server.node.all %>
          <% @node_array = Array.new %>

          <% @nodes.each do |node| %>
            <% @node_array.push(node[:name]) %>
          <% end %>

              <% @node_array.each do |node_name| %>
                <h3><%= my_server.node.find(node_name)[:name] %></h3>
                <p><%= my_server.node.find(node_name)[:name] %>(<%= my_server.node.find(node_name)[:automatic][:fqdn] %>) (<%= my_server.node.find(node_name)[:name] %>[<%= my_server.node.find(node_name)[:automatic][:ipaddress] %>])</p
                <p>Environment: <%= my_server.node.find(node_name)[:chef_environment] %></p>
                <p>Tags:<ul class="inline"><% my_server.node.find(node_name)[:normal][:tags].each do |tag| %>
                  <li><%= tag %></li>
                  <% end %>
                </ul></p>
                <h4>Run list:</h4>
                <p><ul><% my_server.node.find(node_name)[:run_list].each do |run_list| %>
                  <li><%= run_list %></li>
                  <% end %>
                </ul>
                </p>
              <% end %>

              <h4>Attributes (JSON)</h4>
              <%= escape_html(my_server.node.find('wordpress')._attributes_) %>
        </div>
      </div>
      </div>
