            </ul>
<% if resource_name != "data bags" -%>
            <form class="navbar-search form-search pull-right" method="get" action="/<%= resource_name == "data bag items" ? "data_bag/#{data_bag}" : "#{resource_name.gsub(' ', '_')}s" %>">
              <div class="input-append">
                <input type="text" class="search-query" name="q" placeholder="search <%= resource_name %>"<% if search_query %> value="<%= search_query %>"<% end %>>
                <button type="submit" class="btn" id="search-submit"><i class="icon-search" title="search"></i></button>
              </div>
            </form>
<% end -%>
        </div>
      </nav>
    </div></div>
      <div class="row-fluid">

<div class="span12">
<% if resource_name == "data bag items" -%>
<h1><%= data_bag %></h1>
<ul class="unstyled">
<%   resources.each do |item| -%>
  <li><a href="/data_bag/<%= data_bag %>/<%= item[:id] %>"><%= item[:id] %></a></li>
<%   end -%>
<% else -%>
<h1><%= resource_name == "data bags" ? resource_name.capitalize : "#{resource_name.capitalize}s" %></h1>
<ul class="unstyled">
<%   resources.each do |resource| -%>
    <li><a href="/<%= resource_name == "data bags" ? "data_bag" : resource_name.gsub(' ', '_') %>/<%= resource[:name] == nil ? resource[:id] : resource[:name] %>"><%= resource[:name] == nil ? resource[:id] : resource[:name] %></a></li>
<%   end -%>
<% end -%>
  </ul>
</div>
