<ul class="breadcrumb">
<% if resource_name == "data bag" -%>
  <li><a href="/data_bags">Data Bags</a> <span class="divider">|</span></li>
  <li><a href="/data_bag/<%= data_bag %>"><%= data_bag %></a> <span class="divider">|</span></li>
  <li class="active"><i class="icon-search"></i> <%= search_query %></li>
<% elsif resource_name == "node" -%>
  <li><a href="/nodes">Nodes</a> <span class="divider">|</span></li>
  <li class="active"><i class="icon-search"></i> <%= search_query %></li>
<% end -%>
</ul>

<% if search_results.blank? -%>
<h1>No matching results found</h1>
<% else -%>
<%   if search_results.length == 1 -%>
<h1><%= search_results.length %> <%= resource_name %> item found</h1>
<%   else -%>
<h1><%= search_results.length %> <%= resource_name %> items found</h1>
<%   end -%>
<% end -%>

<ul>
<%== display_search_results(resource_name) %>
</ul>
